.navbar {
    background-color: rgb(109, 136, 163);
}
.quemsou{
    background-color: rgb(72, 125, 125);
}
.margin{
    padding: 2%;
}
.projetos{
    background-color: rgb(70, 70, 117);
}
.bg-footer{
    background-color: rgb(210, 205, 205);
}